<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <h2 class="text-danger fw-4">404 Error Found</h2>
        <h5 class="text-warning">
          sorry this url does't exist in this website
        </h5>
        <a href="{% url 'home' %}">Go to home</a>
      </div>
    </div>
  </body>
</html>
